@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');
body {
    background-color: rgb(240, 240, 240);
}

header {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: 'Playfair Display', serif;
    font: 800;
}
p {
    font-family: 'Playfair Display', serif;
    font: 800;
    font-size: 12px;    
}
span {
    display: block;
    font-size: 16px;
    padding: 15px 0;
}

.color  {
    width: 160px;
    height: 280px;
    margin: 10px;
}
.container > div:nth-child(1) {background-color: #f3df4d}
.container > div:nth-child(2) {background-color: #B35F44}
.container > div:nth-child(3) {background-color: #cd4a77}
.container > div:nth-child(4) {background-color: #9369a8}

.color > div {
    background-color: white;
    height: 100px;
    position: relative;
    top: 10px;
    padding: 0 5px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto;
}
