body {
    height: 100vh;
    display: flex;
    background-color: tomato;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
}

.flex-container {
    height: 200px; 
    width: 200px;
    background-color: wheat;
    margin: 0;
    border: 2px solid black;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox {
    background-color: teal;
    margin: 0;
    height: 40px;
}

.square {
    width: 40px;
    border: 2px solid white;
}

#center {
    width: 160px;
    border: 2px dashed white;
}