@import "reset.css";
@import "nav.css";
@import "main.css";
@import "list.css";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    font-family: 'Jua', sans-serif;
    background-color: rgb(238, 238, 238);
}
h1 {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.score {
    color: #82C91E;
    margin-bottom: 10px;
}    
.today-snack {
    padding: 0 20px;
}
.today-snack__container {
    display: flex;
    margin: 20px 0;
}

.today-snack__container img {
    width: 105px;
    height: 130px;
    object-fit: cover;
}
.today-snack__desc {
    padding-left: 20px;
}
.today-snack__desc h2 {
    font-size: 18px;
    margin: 10px 0;
}
.today-snack__desc p {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0,0,0,0.4);
}