.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-weight: 600;
}
.badge-new {
    background-color: tomato;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 600;
    margin-left: 10px;
}